@import "variables";

html, body, #root, main {
    height: 100%;
}

body {
    font-size: .875rem;
    font-family: 'Quicksand', sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 7px 38px rgba(0, 0, 0, 0.1);

    .sidebar-sticky {
        background: #FFFFFF;
        position: relative;
        top: 0;
        height: calc(100vh - 58px);
        padding-top: 23px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .nav-link {
        padding: 13px 0 13px 35px;
        color: $link-color;
        font-size: 16px;
        position: relative;

        span {
            padding-left: 22px;
        }

        svg {
            margin-top: -2px;
        }

        &.active {
            color: $color-black;
            background-color: #FBFBFB;
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                right: 0;
                top: 0;
                float: right;
                width: 7px;
                background: #15BBBD;
                height: 49px;
                border-radius: 10px 0 0 10px;
            }

            svg {
                path {
                    fill: $scg-color-active;
                }
                &.laundry-svg {
                    path {
                        fill: none;
                        stroke: $scg-color-active;
                    }
                }
            }
        }
    }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 58px; /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding: 17px 0 18px 35px;
    font-size: 16px;

    span {
        margin-left: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 16px;
    }
}

.navbar {
    background-color: $blue;
    height: 58px;
    color: $color-white;

    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;

        &.search {
            padding: 14px 0 15px 50px;
            &::placeholder {
                color: white;
            }
        }

    }
}

.navbar-nav {
    .nav-link {
        span {
            padding-right: 30px;
        }

        span:last-child {
            padding-right: 0;
        }
    }
}

.form-control-dark {
    color: $color-white;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.detail-button {
    color: $scg-color-active;
    border-color: $emerald;
    &:hover {
        background: $blue;
        border-color: $blue;
    }
}

.pointer {
    cursor: pointer ;
}

.modal {
    background: #0000004f;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: #00000080;
    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        .spinner-border {
            width: 5rem;
            height: 5rem;
        }
    }
}