/* Primary colors */
$color-white: rgb(255, 255, 255); /* #fff */
$color-black: #000000; /* #fff */
$emerald: #15BBBD;
$blue: #343C75;
$filter-link-colors-active: #34495E;
$filter-link-colors: #696B79;
$input-color: #495057;


/* nav bar colors */
$link-color: #97979C;
$scg-color-active: #5861A2;

/* orders bar colors */
$block-bg: #E5E5E5;

/* table colors */
$thead-bg: #EDF0F7;
$row-bg: rgba(237, 240, 247, 0.3);
$text-color: rgba(58, 58, 69, 0.8);
$status-color: #E86850;